body {
    margin-bottom: 80px;
    margin: 0;
    padding-bottom: 100px; /* Adjust this value based on your footer's height */
    min-height: 100vh;
    position: relative;
}
#navbar{
    background-color: #714242;
}
#testimonail, #service{
    margin-bottom: 70px;
}
/*footer*/
.footer {
    margin-top: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
}